body {
    background-color: #ddd;
    color: lightblue;
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    font-size: 20px;

    /* kod postavljanja background-imagea zadnji je .jpg format jer se druge slike ne vide */
    background: url(../../images/light-bulb.png) bottom right/30% no-repeat fixed,
                url(../../images/fire.png) bottom left/20% no-repeat fixed, 
                url(../../images/adventure.jpg) center/cover no-repeat fixed;
}

header{
    background-color: black;
    text-align: center;
}

main{
    background-color: lightseagreen;
}

footer{
    background-color: red;
}