div{
    height: 200px;
    width: 200px;
}

.box1{
    background-color: aqua;
}

.box2{
    background-color: orange;
    left: 100px;
    top: 100px;
    position: absolute;
}

.container{
    border: 3px solid gray;
    height: 600px;
    width: 600px;
    margin: 20px auto;
    position: relative;
}

.box3{
    background-color: pink;
}

.box4{
    background-color: green;
    bottom: 0;
    right: 0px;
    position: absolute;
}